* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: #eae7f0;
}

h1 {
    background-color: rgb(6, 61, 28);
    color: white;
    height: 4rem;
    line-height: 4rem;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
}

.choice {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.choice:hover {
    cursor: pointer;
    opacity: 50%;
    background-color: rgb(255, 16, 175); /* Apply background color change on hover */
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    gap: 3rem;
    font-size: 2rem;
    color: rgb(2, 2, 2);
}

#user-score, #comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: rgb(19, 65, 53);
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
